<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CreatorTag</title>
	<style type="text/css">
		@media only screen and (max-width: 600px){
			*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
			table[class="mob_table"]{ width: 100% !important; margin: 0px auto !important; }
			table[class="mob_table_inside"]{ width: 90% !important; margin: 0px auto !important; }
		}
	</style>
</head>
<body style="font-family: Helvetica, sans-serif; background-color: #fff; display: block; margin: 0px; padding: 0px;">
	<table class="mob_table" width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="width: 600px; margin: 0px auto;">
		<tr>
			<td valign="top" align="center">
				<table class="mob_table_inside" width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto; background-color: #f8f8f8;">
					<tr>
						<td valign="top" style="height: 10px;"></td>
					</tr>
					<tr>
						<td valign="top" align="center">
							<a href="https://creatortag.com/" target="_blank" style="text-decoration: none; display: block;">
								<img src="https://cdn.eleveglobal.com/ct_logo.png" title="CreatorTag" width="180" style="width: 180px; display: block; margin: 0px auto;">
							</a>
						</td>
					</tr>
					<tr>
						<td valign="top" style="height: 10px;"></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top" align="center">
				<table class="mob_table" width="500" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto; background-color: #ffffff; width: 500px;">
					<tr>
						<td valign="top" style="height: 30px;"></td>
					</tr>
					<tr>
						<td valign="top" align="center">
							<img src="https://pcdn.creatortag.com/mailer/mailer_user_invite.png" alt="image" title="CreatorTag" width="320" style="width: 320px; display: block; margin: 0px auto;">
						</td>
					</tr>
					<tr>
						<td valign="top" style="height: 40px;"></td>
					</tr>
					<tr>
						<td valign="top">
							<p style="margin: 0px; padding: 0px; font-family: Helvetica, sans-serif; font-size: 16px; line-height: 24px; font-weight: normal; text-align: center; color: #010101;">
								<span style="font-size: 21px; color:#eb237b; font-style: italic; font-weight: bolder;">Congratulations!</span>
							</p>
						</td>
					</tr>
					<tr>
						<td valign="top" style="height: 7px;"></td>
					</tr>
					<tr>
						<td valign="top">
							<p style="margin: 0px; padding: 0px; font-family: Helvetica, sans-serif; font-size: 16px; line-height: 24px; font-weight: normal; text-align: center; color: #010101;">
								You are invited to collaborate as a {{bindData.platform}} on CreatorTag.
							</p>
						</td>
					</tr>
					<tr>
						<td valign="top" style="height: 30px;"></td>
					</tr>
					<tr>
						<td valign="top">
							<p style="margin: 0px; padding: 0px; font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; text-align: center; color: #010101;">Complete your registration in these simple steps:
							</p>
						</td>
					</tr>
					<tr>
						<td valign="top" style="height: 20px;"></td>
					</tr>
					<tr>
						<td valign="top">
							<p style="margin: 0px; padding: 0px; font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; text-align: center; color: #010101;">Go to <a href="{{bindData.webUrl}}" target="_blank" style="color: #eb237b; font-weight: bolder; text-decoration: none;">CreatorTag</a>
							</p>
						</td>
					</tr>
					<tr>
						<td valign="top" style="height: 5px;"></td>
					</tr>
					<tr>
						<td valign="top">
							<p style="margin: 0px; padding: 0px; font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; text-align: center; color: #010101;">Enter your login credentials:
							</p>
						</td>
					</tr>
					<tr>
						<td valign="top" style="height: 20px;"></td>
					</tr>
					<tr>
						<td valign="top">
							<p style="margin: 0px; padding: 0px; font-family: Helvetica, sans-serif; font-size: 16px; line-height: 24px; font-weight: normal; text-align: center; color: #010101;">
								<span style="font-size: 18px; color:#010101; font-weight: bolder;">Email: <a style="font-size: 18px; color:#eb237b; font-weight: bolder; text-decoration: none;">{{bindData.email}}</a></span>
							</p>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<p style="margin: 0px; padding: 0px; font-family: Helvetica, sans-serif; font-size: 16px; line-height: 24px; font-weight: normal; text-align: center; color: #010101;">
								<span style="font-size: 18px; color:#010101; font-weight: bolder;">Password: <span style="font-size: 18px; color:#eb237b; font-weight: bolder;">{{bindData.password}}</span></span>
							</p>
						</td>
					</tr>
					<tr>
						<td valign="top" style="height: 20px;"></td>
					</tr>
					<tr>
						<td valign="top">
							<p style="margin: 0px; padding: 0px; font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; text-align: center; color: #010101;">{{bindData.textData}}
							</p>
						</td>
					</tr>
					<tr>
						<td valign="top" style="height: 30px;"></td>
					</tr>
					<tr>
						<td valign="top">
							<p style="margin: 0px; padding: 0px; font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; text-align: center; color: #010101;"><strong>We are happy to have you on board!</strong>
							</p>
						</td>
					</tr>
					<tr>
						<td valign="top" style="height: 40px;"></td>
					</tr>
					<tr>
						<td valign="top">
							<div style="width: 100%; height: 1px; background-color: #d0acd0"></div>
						</td>
					</tr>
					<tr>
						<td valign="top" style="height: 30px;"></td>
					</tr>
					<tr>
						<td valign="top">
							<div style="width: 100%; text-align: center;">
								<a href="https://www.facebook.com/TheCreatorTag/" target="_blank" style="text-decoration: none; display: inline-block; vertical-align: middle;">
									<img src="https://pcdn.creatortag.com/mailer/mailer_fb_icon.png" alt="Facebook" title="Facebook" width="20" style="width: 20px;">
								</a>
								<a href="https://www.instagram.com/thecreatortag/" target="_blank" style="text-decoration: none; display: inline-block; vertical-align: middle;">
									<img src="https://pcdn.creatortag.com/mailer/mailer_insta_icon.png" alt="Instagram" title="Instagram" width="20" style="width: 20px;">
								</a>
								<a href="https://www.linkedin.com/company/creatortag/about/" target="_blank" style="text-decoration: none; display: inline-block; vertical-align: middle;">
									<img src="https://pcdn.creatortag.com/mailer/mailer_lkdn_icon.png" alt="Linkedin" title="Linkedin" width="20" style="width: 20px;">
								</a>
								<a href="https://twitter.com/thecreatortag" target="_blank" style="text-decoration: none; display: inline-block; vertical-align: middle;">
									<img src="https://pcdn.creatortag.com/mailer/mailer_tw_icon.png" alt="Twitter" title="Twitter" width="20" style="width: 20px;">
								</a>
							</div>
						</td>
					</tr>
					<tr>
						<td valign="top" style="height: 10px;"></td>
					</tr>
					<tr>
						<td valign="top">
							<div style="width: 100%; text-align: center;">
								<a href="https://creatortag.com/privacy-policy.html" target="_blank" style="text-decoration: none; display: inline-block; vertical-align: middle; color: #d4d4d4; font-size: 12px;">
									<img src="https://pcdn.creatortag.com/mailer/mailer_dot_icon.png" width="5" style="width: 5px; vertical-align: middle;"> Privacy Policy 
								</a>
								<a href="https://creatortag.com/term-conditon.html" target="_blank" style="text-decoration: none; display: inline-block; vertical-align: middle; color: #d4d4d4; font-size: 12px; padding: 0px 10px;">
									<img src="https://pcdn.creatortag.com/mailer/mailer_dot_icon.png" width="5" style="width: 5px; vertical-align: middle;"> Terms of Services 
								</a>
								<a style="text-decoration: none; display: inline-block; vertical-align: middle; color: #d4d4d4; font-size: 12px;">
									<img src="https://pcdn.creatortag.com/mailer/mailer_dot_icon.png" width="5" style="width: 5px; vertical-align: middle;"> Copyright 2022 All rights reserved
								</a>
							</div>
						</td>
					</tr>
					<tr>
						<td valign="top" style="height: 40px;"></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table class="mob_table" width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto; background-color: #f8f8f8;">
					<tr>
						<td valign="top">
							<table class="mob_table" width="600" align="center" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td valign="top" style="height: 30px;"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>